li>a{
    font-weight: bold;
    font-size: medium;
    text-align: center;
}
li>a:hover{
 background-color: var(--ca);
 border-radius: 50px;
}
.navbar{
    background-color: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 11;
    
}
.dropdown-content{
    position: relative;
    top: 10px;
    left: 10px;
    
}