.blur{
    background-color: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.project-container{
    margin: 0 auto;
            border-radius: 20px;
            padding: 3rem;
}
@media screen and (max-width: 600px) {
    .project-container{
        padding: 0;
        max-width: 800px;
    }
    
}