

.text-muted-foreground {
  color: var(--cs);
}

.text-foreground {
  color:var(cs);
}

.glass {
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.glass:hover{
  background: var(--ca);
  backdrop-filter: blur(10px);
  border: 1px solid var(--cap);

}
.bg-primary\/10 {
  background-color: hsl((var(--ca) / 0.15));
}

.text-primary {
  color: #667eea;
}

